<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h3>商品詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-8 col-lg-6">
      <%= attachment_image_tag @item, :image,style: "width:300px; height:200px;" %>
    </div>
    <div class="col-lg-5 col-offset-3">
      <dl>
        <dt>商品名</dt><dd><%= @item.name %></dd><br>
        <dt>商品説明</dt><dd><%= @item.introduction %></dd><br>
        <dt>ジャンル</dt>
          <dd>
            <% genre=Genre.find(@item.genre_id) %>
            <%= genre.name %>
          </dd><br>
        <dt>税込み価格<br>(税抜き価格)</dt><dd><%= @item.price %>円</dd><br>
        <dt>販売ステータス</dt>
          <dd>
            <% if @item.is_active == true %>
              <p>販売中</p>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </dd><br>
      </dl>
    </div>
  </div>

  <div class="d-grid gap-2 col-5 mx-auto">
    <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success btn-lg" %>
  </div>

</div>



