<div class="container">
  <div class="row">
    <diV class="col-lg-4">
      <h3><%= (@customer.last_name+@customer.first_name) %>さんの会員情報 </h3>
    </diV>
  </div>
  
  <div class="row">
    <div class="col-lg-5 col-offset-3">
      <table class="admin_show_customer">
        <dl class="active">
          <dt>会員ID</dt><dd><%= @customer.id %></dd>
          <dt>氏名</dt><dd><%= @customer.first_name %><%= @customer.last_name %></dd>
          <dt>フリガナ</dt><dd><%= @customer.first_name_kana %><%= @customer.last_name_kana %></dd>
          <dt>郵便番号</dt><dd><%= @customer.postal_code %></dd>
          <dt>住所</dt><dd><%= @customer.address %></dd>
          <dt>電話番号</dt><dd><%= @customer.telephone_number %></dd>
          <dt>メールアドレス</dt><dd><%= @customer.email %></dd>
          <dt>会員ステータス</dt>
            <dd>
              <% if @customer.is_active == true %>
                <p class="text-success">有効</p>
              <% else %>
                <p text="text-danger">退会</p>
              <% end %>
            </dd>
        </dl>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
    </div>
    <div class="col-lg-3">
      <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>