<div class="container">
  <div class="col-lg-3">
    <h3>登録情報編集</h3>
  </div>
</div>

<div class="container">
  <%= form_with model: @customer, url: customer_path, method: :patch, local:true do |f| %>
  <table class="edit_customer">
    <div class="row">
      <tr>
        <th class="col-lg-6 col-lg-offset-3">氏名</th>
        <div class="col-lg-3">
          <td><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </div>
      </tr>
    </div>
    <div class="row">
      <tr>
        <th class="col-lg-6 col-lg-offset-3">フリガナ</th>
        <div class="col-lg-3">
          <td><%= f.text_field :last_name_kana %></td>
          <td><%= f.text_field :first_name_kana %></td>
        </div>
      </tr>
    </div>
    <div class="row">
      <tr>
        <th class="col-lg-6 col-lg-offset-3">郵便番号（ハイフンなし）</th>
        <div class="col-lg-3">
          <td><%= f.text_field :postal_code %></td>
        </div>
      </tr>
    </div>
    <div class="row">
      <tr>
        <th class="col-lg-6 col-lg-offset-3">住所</th>
        <div class="col-lg-3">
          <td><%= f.text_field :address %></td>
        </div>
      </tr>
    </div>
    <div class="row">
      <tr>
        <th class="col-lg-6 col-lg-offset-3">電話番号（ハイフンなし）</th>
        <div class="col-lg-3">
          <td><%= f.phone_field :telephone_number %></td>
        </div>
      </tr>
    </div>
    <div class="row">
      <tr>
        <th class="col-lg-6 col-lg-offset-3">メールアドレス</th>
        <div class="col-lg-3">
          <td><%= f.email_field :email %></td>
        </div>
      </tr>
    </div>
  </table>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col">
      <%= f.submit "登録内容を保存", class: "btn btn-info" %>
    </div>
    <% end %>
     <div class="col">
      <%= link_to "退会する", customer_unsubscribe_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
