<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
  <div class="col-lg-3 col-lg-offset-3 text-center bg-primary">
      <h3>管理者ログイン</h3>
  </div>
</div>

<div class="container text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
      <span>メールアドレス</span>
    </div>
    <div class="col-lg-3">
      <label><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "60*20" %></label>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
      <span>パスワード</span>
    </div>
    <div class="col-lg-3">
      <label><%= f.password_field :password, autocomplete: "current-password", size: "60*20" %></label>
    </div>
  </div>

  <div class="login">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-3">
      <span></span>
      </div>
      <div class="col-lg-1 col-lg-offset-4 ">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>


  </div>
</div>
