<div class="container">
  <div class="mailing-form">
    <div class="col-lg-4">
	    <h4>配送先登録 / 一覧</h4>
    </div>


    <%= form_with model:@address, url: address_path, local:true do |f| %>
	    <div class="col-lg-12"><div class="col-lg-2"><%= f.label :郵便番号 %></div><div class="col-lg-2"><%= f.text_field :postcode, value: @address.postal_code,placeholder: "半角 / ハイフン不要" %></div></div>
	    <div class="col-lg-12"><div class="col-lg-2"><%= f.label :住所 %></div><div class="col-lg-2"><%= f.text_field :address,class: 'address', value: @address.address %></div></div>
	    <div class="col-lg-12"><div class="col-lg-2"><%= f.label :宛名 %></div><div class="col-lg-2"><%= f.text_field :name, value: @address.name  %></div><div class="col-lg-4">
		    <%= f.hidden_field :customer_id, value: current_customer.id %>
		    <%= f.submit "送信する", class: "btn" %>
	    </div>
	    </div>
    <% end %>


  </div>
</div>