<div class="container">
  <div class="col-lg-5">
    <%= attachment_image_tag @item, :image,style: "width: 350px; height: 250px; margin-top:80px;" %>
  </div>
  <div class="col-lg-5">
    <h1 style="font-weight: bold; margin-top:100px;"><%= @item.name%></h1>
  </div>
  <div class="col-lg-5">
    <p><%= @item.introduction %></p>
  </div>
  <div class="col-lg-5">
    <p><strong>¥ <%= @item.add_tax_price.to_s(:delimited) %></strong>(税込)</p>
  </div>
  <%= form_with model: @cart_item, local:true do |f| %>
    <%= f.select :amount, {"1":1, "2":2, "3":3, "4":4, "5":5}, include_blank: "個数選択" %>
  <% end %>
  <%= link_to "カートに入れる", cart_items_path, class: "btn btn-default btn-;g",style: "margin-bottom:30px;" %>
</div>