<div class="container">
  <div class="col-lg-3 col-lg-offset-3 text-center bg-primary">
    <h3>ログイン</h3>
  </div>
</div>

<div class="container">
  <div class="log-lg-5">
    <h5>会員の方はこちらからログイン</h5>
  </div>
</div>

<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
      <span>メールアドレス</span>
    </div>
    <div class="col-lg-3">
       <label><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "60*20" %></label>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
      <span>パスワード</span>
    </div>
    <div class="col-lg-3">
      <span><%= f.password_field :password, autocomplete: "current-password", size: "60*20" %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
    <span></span>
    </div>
    <div class="col-lg-1 col-lg-offset-4">
      <%= f.submit"ログイン", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

  <div class="col-lg-4">
    <h5>登録がお済みでない方</h5>
    <strong><%= link_to"こちら", new_customer_registration_path %></strong>から新規登録を行ってください。
  </div>

</div>
